In [4]:
person={"names":"david","age":32}

In [6]:
for k,v in person.items():
    print("key: "+k+"value: "+v)

SyntaxError: invalid syntax (<ipython-input-6-1f96e8e992ad>, line 2)

In [7]:
val=[5,7,13,6,8]

In [11]:
dictionary={x:x**2 for x in {2,3,4,5,6}}

In [13]:
print(dictionary)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [15]:
aTupple=(2,3,4,5,["nasir","hussain"])

In [20]:
aTupple[4][0]="shaheer"
aTupple[4][1]="akram"

In [23]:
aTupple

(2, 3, 4, 5, ['shaheer', 'akram'])

In [28]:
for i,v in enumerate(['a','b','c','d']):
    print (i,v)

0 a
1 b
2 c
3 d